:root {
    --dreamland-primary-color: #009688;
    --border-color: #eee;
    --page-bg: #fafafa;
    --background: #f0f0f0;
    --main-text: #444444;
}

.dark {
    --border-color: #262626;
    --page-bg: #161616;
    --background: #222222;
    --main-text: #ffffff;
}
