.side-bar
    .pagination
        .prev(onclick="dlf.doPageFlip(true)")
            i.ri-arrow-left-line
        #page_count.page_count.heti--sans="1"
        .next(onclick="dlf.doPageFlip(false)")
            i.ri-arrow-right-line
    .float-bar
        ul
            li
                i.ri-arrow-top-line
