- const pageType = is_post() ? 'dreamland-post' : 'dreamland-page'

doctype html
html(lang=config.language data-theme=theme.display_mode)
    head
        include ./head.pug
    body
        // 加载动画
        if theme.preloader.enable
            !=partial('includes/loading/index', {}, { cache: true })
        // 背景
        if theme.background
            #dreamland-book-background

        // 边栏
        !=partial('includes/sidebar', {}, {cache: true})

        // 右侧界面
        if page.type !== '404'
            #body-wrap(class=pageType)

                main#content-inner.layout
                    block content

            footer#footer
                include ./footer.pug


        else
            include ./404.pug

        // js
        include ./additional-js.pug
        !=partial('includes/third-party/search/index', {}, { cache: true })
