@import "page.css";
@import "header.css";
@import "footer.css";
@import "bookmark.css";
@import "toast.css";

.book-page {
    @apply mx-auto bg-page-bg w-full p-5 relative;
    @apply dark:bg-page-bg-dark;
    @apply lg:w-8/12;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
}

.dreamland-main {
    @apply book-page z-0 min-h-30;
    @apply dark:bg-page-bg-dark;
    @apply md:min-h-40;
    box-shadow:
                /* The top layer shadow */
            0 1px 2px rgba(0,0,0,0.05),
                /* The second layer */
            0 5px 0 -2px var(--page-bg),
                /* The second layer shadow */
            0 5px 1px -1px rgba(0,0,0,0.05);
}

.dreamland-main:has(.index_page) {
    @apply overflow-hidden relative;
}

.grid-background {
    @apply absolute inset-0 grid w-full h-full pointer-events-none -z-100;
    grid-template-rows: 1fr 2.5fr 50px;
    grid-template-columns: 2fr 1.27fr 1.73fr;
}

.grid-background-border-horizontal {
    grid-row: 2;
    grid-column: 1/-1;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.grid-background-border-vertical {
    grid-row: 1/-1;
    grid-column: 2;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.index_page {
    @apply overflow-hidden w-full h-full;
}

.layer {
    @apply grid grid-cols-1 relative;
    @apply md:grid-cols-2 md:gap-4 md:absolute md:w-11/12 md:h-4/5;
}

#today {
    @apply text-5xl font-black w-full pl-5 pt-5;
}

#mood-avatar {
    @apply absolute -top-10 -right-10;
    @apply hover:top-0 hover:right-0;
    transition: all linear 0.5s;
    grid-row: 1 / -1;
    grid-column: 2;

    justify-self: center;
    align-self: center;

    letter-spacing: 12px;
}

#mood-avatar text {
    transform-origin: 50% 50%;
    animation: anim_rotate 10s linear infinite;
}

.say_img {
    @apply relative px-5 pb-5 pt-16 flex items-center justify-center;
}

#say_img_content {
    @apply w-full bg-center bg-no-repeat bg-cover relative;
    @apply md:h-auto;
    @apply after:w-full after:h-full after:absolute after:left-2 after:top-2 after:bg-black after:-z-1;
    aspect-ratio: 3/2;
    background-color: var(--theme-primary-color-800);
    background-image: var(--say-img-url);
}

.say_text {
    @apply relative w-full h-full;
}

#say_text_content {
    @apply p-5 bg-page-bg rounded-2xl mx-5 mt-5 relative px-10 max-w-full break-words text-base;
    @apply dark:bg-page-bg-dark;
    @apply md:-right-10 md:absolute md:top-1/4 md:ml-32 md:mr-0;
    @apply before:content-["“"] before:absolute before:-top-2 before:-left-2 before:text-4xl;
    @apply after:content-["”"] after:absolute after:-bottom-6 after:-right-2 after:text-4xl;
}

.recommend_list {
    @apply bg-[#ffffff] p-8 rounded mt-8 relative;
    @apply md:w-5/6 md:h-4/5 md:mt-28 md:ml-16;
    @apply dark:bg-[#111111];
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
}

.recommend_list::after {
    content: "";
    width: 55%;
    height: 20px;
    top: -10px;
    z-index: 5;
    left: 25%;
    transform: rotate(-2deg);
    position: absolute;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background: rgba(220, 220, 220, 0.4);
}

.dark .recommend_list::after {
    background: rgba(45, 45, 45, 0.5);
}

.post_list ul {
    @apply py-2;
}

.post_list li {
    @apply py-2 relative z-0 flex items-center justify-between;
}

.post_list li + li {
    @apply border-t border-dashed border-border-color;
    @apply dark:border-border-color-dark;
}

.post_list .post_img {
    @apply absolute top-0 left-0;
}

.post_list .post_index {
    @apply heti--serif;
    @apply text-2xl px-2;
}

.post_list a {
    @apply w-full text-ellipsis overflow-hidden whitespace-nowrap;
}

.post_right {
    @apply w-4/5;
}

.post_right .post_title {
    @apply text-base w-full;
}

.post_right .post_info {
    @apply text-xs flex items-center;
}

.post_info span + span {
    @apply before:content-["\00A0•\00A0"] before:text-main-text;
    @apply before:opacity-70;
    @apply before:dark:text-main-text-dark;
}

.post_info .post_category {
    @apply bg-border-color px-1.5 rounded-sm flex;
    @apply dark:bg-border-color-dark;
}

.post_info .post_date {
    @apply opacity-50;
}

.recommend_text {
    @apply md:hidden;
}

.recommend_text--vertical {
    @apply hidden absolute right-0 bottom-0;
    @apply md:block;
}

.recommend_text, .recommend_text--vertical {
    @apply text-4xl;
}

.slider {
    @apply grid p-10;
    @apply md:absolute md:inset-x-0 md:bottom-0 md:h-1/5;
    grid-row: -2;
    grid-column: 1/-1;
    grid-template-columns: 1fr 40px;
    grid-gap: 1%;
}

.track-full {
    @apply relative h-1/2 self-end box-content border-t border-solid border-main-text;
    @apply dark:border-main-text-dark;
}

.track-active {
    @apply absolute w-[14.285%] h-full box-content border-t-2 border-solid border-main-text;
    @apply dark:border-main-text-dark;
    transition-duration: 2.2s;
}

.track-number {
    @apply self-center text-xl;
    @apply after:content-[var(--week)];
}

@keyframes anim_rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-360deg);
    }
}
