#toast {
    @apply invisible w-10 h-10 m-auto inset-x-0 z-2 fixed text-sm whitespace-nowrap rounded-full text-center;
    @apply bg-black text-white;
    bottom: 30px;
}

#toast #toast-icon {
    @apply w-10 h-10 float-left box-border p-2;
}

#toast #toast-icon img {
    @apply w-6 h-6;
}

#toast #toast-message {
    @apply text-sm overflow-hidden whitespace-nowrap h-full leading-10 p-0 m-0 rounded-r-full;
    @apply bg-black text-white;
}

#toast.show {
    @apply visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes expand {
    from {
        min-width: 50px
    }
    to {
        min-width: 350px
    }
}

@keyframes expand {
    from {
        min-width: 50px
    }
    to {
        min-width: 350px
    }
}

@-webkit-keyframes stay {
    from {
        min-width: 350px
    }
    to {
        min-width: 350px
    }
}

@keyframes stay {
    from {
        min-width: 350px
    }
    to {
        min-width: 350px
    }
}

@-webkit-keyframes shrink {
    from {
        min-width: 350px;
    }
    to {
        min-width: 0;
    }
}

@keyframes shrink {
    from {
        min-width: 350px;
    }
    to {
        min-width: 0;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 60px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 60px;
        opacity: 0;
    }
}
