nav.dreamland-header__bookmark
    .dreamland-header__bookmark__container
        .dreamland-header__bookmark__right
            !=aside_categories({ limit: theme.categories.limit === 0 ? 0 : theme.categories.limit || 6  })
