doctype html
html(lang=config.language class=theme.display_mode)
    head
        include ./head.pug
    body.heti--sans
        // 背景
        if theme.background
            #dreamland-book-background(data-background=theme.background)

        // 头
        !=partial('includes/header/header', {}, {cache: true})

        // 分类栏
        !=partial('includes/bookmark/bookmark', {}, {cache: true})

        // 主界面
        main.dreamland-main
            block content

        // sidebar
        !=partial('includes/sidebar/sidebar', {}, { cache: true })

        // 尾
        !=partial('includes/footer/footer', {}, {cache: true})

        // js
        include ./additional-js.pug
        !=partial('includes/third-party/search/index', {}, { cache: true })

        // toast
        !=partial('includes/toast/toast', {}, { cache: true })
script.
  const pageFlip = new St.PageFlip(
    document.querySelector('.flip_page'),
    {
      width: 185,
      height: 190,
      size: 'stretch',
      minWidth: 400,
      maxWidth: 1200,
      minHeight: 562.16,
      maxHeight: 1687,
      maxShadowOpacity: 0.2,
      flippingTime: 500,
      mobileScrollSupport: true,
      useMouseEvents: false
    }
  );
  pageFlip.loadFromHTML(document.querySelectorAll(".page"));
